*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

form {
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

form h3 {
    text-align: center;
    margin: 20px;
}

form input[type=text],
form input[type=password],
textarea{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

form input[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #53A536;
    border: 0;
    border-radius: 20px;
    transition: 1s;
}

form input[type=submit]:hover {
    background-color: #32741B;
}

.header-topo{
    margin-top: 10px;
    margin-left: 10px;
}
