* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/*Header*/


header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background-image: url('../reus-e/assets/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    background-color: #4E6F84;
}



h1 {
    color: white;
    font-size: 50px;
    margin-left: 10%;
    white-space: nowrap;
}

h2 {
    margin-top: 10%;
    color: white;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
}


button {
    margin-top: 50px;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background-color: #53A536;
    cursor: pointer;
    transition: 1s;
    /*transform: translateY(80px); */
}

button:hover {
    background-color: #32741B;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.ajuste-button {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 500px;
}

.conteudo-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-topo{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
}

.inicio {
    justify-self: center;
}

.logo {
    width: 200px;
}

#header-left {
    display: flex;
    margin-top: 2%;
    display: flex;
    margin-left: 10%;
    height: 250px;
    margin-right: 40px;
    max-width: 800px;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.celulares {
    max-height: 550px;
    width: auto;
    height: auto;
    background-color: #4E6F84;
}


.navbar-item {
    display: inline-block;
    margin: 0 25px;
}

.item-texto {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #740E85;
}

.item-texto:hover {
    font-weight: bold;
}

/* main */

main {
    max-width: 100%;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

.informacoes p{
    font-size: 40px;
    margin: 40px;
}

.informacoes img {
    margin-right:100px;
    margin-top: 100px;
    margin-left: 50px;
}